
body, h2, p {
  margin: 0;
  padding: 0;
}
p{
  text-align: left;
  margin-top: 1em;
}
html, body {
  height: 100%;
  margin: 0;
  background-color: #faf0e6;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #faf0e6;
  padding: 20px 0;
  height: 100%;
}

.rectangle {
  width: 300px; 
  height: 400px; 
  background-color: #faf0e6;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; 
  z-index: 1001;
}

.rectangle:hover {
  transform: scale(1.05);
}

.rectangle h2 {
  margin-bottom: 10px;
  color: #fff; 
  font-family: palatino;
}


#scrolly {
  position: relative;
  padding: 1rem;

}

article {
  position: relative;
  padding: 0;
  max-width: 20rem;
  margin: 0 auto;
}

.sticky-thing {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 0;
  top: 20.5vh;
  height: 75vh;
  /* Center everything inside */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* .sticky-thing p {
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
} */

.step {
  margin: 0 auto 2rem auto;
  /* color: #fff; */
  background-color: rgba(255, 255, 255, 0.438);
  border-radius: 10px;
  z-index: 1;
}

.step:last-child {
  margin-bottom: 0;
  padding-bottom: 850px; 
  /* z-index: 0; */
}


/* .step.is-active p {
  background-color: goldenrod;
  color: #3b3b3b;
} */

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  font-family: palatino;
}

/* #intro {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  width: 40%;
  z-index: 10001;
}

#intro p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  font-family: palatino;
} */

#ice-cream-cone {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; 
}


.cone {
  width: 0;  
  height: 0;  
  border-left: 50px solid transparent; 
  border-right: 50px solid transparent; 
  border-top: 150px solid wheat; 
}



.scoop {
  width: 50px;
  height: 50px;
  background-color: #add8e6; 
  border-radius: 50%;
  position: absolute;
}

.ice-cream-shop {
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 500px;
}

.shop-content {
  max-width: 600px;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: palatino;
  
}

#conclusion {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#conclusion p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  font-family: palatino;
}

.comparison{
  padding: 50px;
}

