html, body {
  height: 100%;
  margin: 0;
  background-color: #faf0e6;
}
p{
    font-family: "Nanum Myeongjo", serif;
}

#title{
  display: flex;
}
#hero{
  background-image: url(./images/hero_image.jpeg);
  background-position: center top;
  height: 150vh;
}
.hero {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  color: #333; 
  font-size: 24px; 
}
.hero_title {
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 10px;
}
.hero_title p{
  text-align: center;
  font-family: 'Londrina Shadow', sans-serif;

}
#hero_secondary{
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
  letter-spacing: 5px;
}
#hero_secondary{
  text-align: center;
}
#hero_credit{
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
}
#hero_credit p{
  text-align: center;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #faf0e6;
  height: 100%;
}

.rectangle {
  width: 300px; 
  height: 450px; 
  background-color: #faf0e6;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; 
  z-index: 1001;
}

.rectangle:hover {
  transform: scale(1.05);
}




#scrolly {
  position: relative;
  padding: 1rem;
}

article {
  position: relative;
  padding: 0;
  max-width: 30rem;
  margin: 0 auto;
  margin-bottom: 10px;
}

.sticky-thing {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 0;
  top: 10vh;
  height: 100vh;
}

#mitchells {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 0;
  top: 20.5vh;
  height: 75vh;
}

.mitchells-background {
  width: 100%; 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
}


.step {
  margin: 0 auto 10rem auto;
  background-color: rgba(255, 255, 255, 0.438);
  border-radius: 10px;
  z-index: 1;
}

.step:last-child {
  margin-bottom: 100rem;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  font-family: palatino;
}

.parallax-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.background-image {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}



/* /* parallax part  */
.scroll-div{
  position: absolute;
  margin-top: 100vh;
}

.parallax-images {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 0;
}


/* Swensens styling */


#swensens_parallax {
  background-image: url(./images/swenson_img1.jpg);
  background-position: center top;
  height: 515vh;
}
.swensens-textbox {
  background-color: #353333;
  color: white; 
  padding: 60px;
  border-radius: 10px; 
  width: 80%; 
  margin: 0 auto; 
  margin-bottom: 10px;
}

.swensens-textbox p {
  margin: 15px 0; 
  font-size: 16px; 
  line-height: 1.6; 
  text-align: center;
}

#swensens-contentimg{
  margin-left: 50%;
  margin-bottom: 400px;
}
#swensens-contentimg img {
  width: 80%; 
}

#swensens-quote {
  background-color: #762F20;
  text-align: center; 
  padding: 30px;
  margin: 0 auto; 
  width: 60%; 
  border-radius: 5px; 
  margin-bottom: 400px;
}

#swensens-quote p {
  color: white;
  font-size: 18px; 
  line-height: 1.6;
  text-align: center;
}




/* mitchells styling */


.mitchells-p{
  color: white;
  margin-left: 20px; 
  margin-right: 20px; 
  margin-bottom: 200px;
}
.mitchells-p p{
  text-align: center;
}
.mitchells-b-images {
  display: flex; 
  justify-content: center; 
  margin-bottom: 100px;
}

.mitchells-b-images img {
  margin: 0 85px; 
  border: 3px solid white; 
  border-radius: 5px; 
  max-width: 300px;
  height: auto; 
}

#mitchells-quote {
  background-color: #ffd700;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 30px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 200px;
}

#mitchells-quote p {
  color: black;
  font-size: 18px; 
  font-style: italic; 
  line-height: 1.4; 
  margin: 0; 
  text-align: center;
}

#mitchells_parallax {
  background-image: url(./images/mitchells-background.jpg);
  background-position: center top;
  height: 515vh;
}

.scroll-mitchells-div{
  position: absolute;
  margin-top: 100vh;
}

/* lush styling */



#lush_parallax {
  background-image: url(./images/lushstore.png);
  background-position: center top;
  height: 515vh;
}
.lush-textbox {
  background-color: #353333;
  color: white;
  padding: 60px; 
  border-radius: 10px; 
  width: calc(33.33% - 60px);  margin: 0 auto; 
  margin-bottom: 10px;
  right: 0;
  margin-top: 60px; 
  margin-right: 60px;
}

.lush-textbox p {
  margin: 15px 0;
  font-size: 16px; 
  line-height: 1.6;
  text-align: left;
}

/* adjusting for mobile */
@media (max-width: 700px) {
  

  #hero{
    max-height: 100vh;
    background-size: contain;
    height: 100vh;
  }
  .hero_title {
    margin-top: 5vh;
    font-size: 20px; 
    letter-spacing: 5px;
  }
  #hero_secondary{
    font-size: 15px;
    line-height: 1.5em;
    margin-bottom: 0;
    padding: 10px;
  }
  #hero_credit{
    font-size: 15px;
    line-height: 1.5em;
    margin-bottom: 0;
    padding: 10px;
  }
  .rectangle {
    width: 90%; 
    height: 100vh; 
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2px; 
    margin: 10px 10px; 
    border-radius: 0;
    box-shadow: none; 
  }
  .sticky-thing {
    position: static;
    top: auto;
    height: auto;
  }
  article {
    z-index: 1000; 
  }
  .step {
    margin: 0 auto 2rem auto;
    z-index: 100000000;
  }
  .step p {
    padding: 0.5rem;
    font-size: 10px;
    line-height: 1.5em;
  }
  .step:last-child {
    margin-bottom: 50rem;
  }

  #swensens_parallax{
    background-color: #5f6d72;
    background-image: none;
  }
  .swensens-textbox{
    width: 50%;
    padding: 20px;
  }
  .swensens-textbox p {
    font-size: 10px;
  }
  #swensons-quote{
    margin-bottom: 30px;
  }
  #swensens-contentimg{
    margin-left: 50%;
    margin-bottom: 30px;
  }

  #mitchells_parallax{
    background-size: auto 100%;;
  }
  .mitchells-p{
    margin-bottom: 30px;
  }
  .mitchells-p p{
    font-size: 10px;
  }
  .mitchells-b-images {
    flex-direction: column; 
    align-items: center; 
  }

  .mitchells-b-images img {
    margin: 10px 0; 
  }
  #mitchells-quote{
    padding: 5px;
  }
  #mitchells-quote p {
    font-size: 12px;
  }
  .lush-textbox {
    padding: 10px; 
    width: 50%;
  }
  .lush-textbox p {
    font-size: 10px; 
  }

  #lush_parallax{
    background-color: #af9c78;
    background-image: none;
  }




  
}









